article{
    width: 24%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #19191b;
    margin-top: 80px;
    padding: 0px;
    border-radius: 30px;
    color: white;
}

section.navigation{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

section.navigation img{
    max-width: 40px;
    position: relative;
    right: -10px;
    top: 0px;
}

h3{
width: 100%;
text-align: center;
}

img{
    width: 100%;
    margin-top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

section .aditional-info{
    padding-left: 30px;
    padding-right: 30px;
}

.infoAdicional{
    font-weight: bold;
}

.botonInfoAdicional{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -350px;
}

.botonInfoAdicional img{
    max-width: 30px;
}