footer{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: black;
    margin-top: 50px;
}

footer p{
    margin-right: 25px;
}