header{
  display: flex;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  color: lightgrey;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  padding-left: 20px;
}

header .logo img{
    max-width: 100%;
    margin-top: 0px;
}



.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 100px;
}

@media only screen and (max-width: 600px) {
  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
}
    
  }