body{
    margin: 0px;
    width: 100%;
    font-family: poppins, sans-serif;
}

main{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.botonVerMas{
width: 100%;
display: flex;
justify-content: flex-end;
}

.botonVerMas{
    margin-right: 25px;
}